* {
    font-family: 'Outfit';
}
body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}
.card {
    width: 18vw;
    min-width: 230px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 16px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 2px 10px rgb(215, 215, 215);
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    background-color: rgb(71, 35, 110);
}
.card:hover h3 {
    color: rgb(215, 215, 215);
}
.card:hover p {
    color:rgb(215, 215, 215);
}
.card img {
    border-radius: 10px;
    transition: 0.3s;
}
.card h3 {
    color: hsl(218, 44%, 22%);
    margin-bottom: 0px;
    transition: 0.1s;
    transition-delay: 0.2s;
}
.card p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
    transition: 0.1s;
    transition-delay: 0.25s;
}
.attribution {
    margin-top: 20px;
}
@media screen and (max-width: 440px) {
    .card {
        margin: 80px auto;
        width: 60vw;
        min-width: auto;
    }
}